<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Add Device</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
</br>
<div class="container">
    <h3>Add device</h3>
    </hr>
    <div class="row">
        <div class="col-md-5">
            <form th:method="POST" th:action="@{'/devices/add'}">
                <input id="serialNumberId" type="hidden" name="serialNumberId" th:value="(${device} != null ? ${device.getSerialNumberId()} : '')">
                <div class="form-group">
                    <label for="name">Device name</label>
                    <input type="text"
                           class="form-control"
                           id="name"
                           name="name"
                           th:value="(${device} != null ? ${device.getName()} : '')"
                           required placeholder="Enter device name">
                </div>
                <div class="form-group">
                    <label for="image">Device image</label>
                    <input type="text"
                           class="form-control"
                           id="image"
                           name="image"
                           th:value="(${device} != null ? ${device.getImage()} : '')"
                           required placeholder="Enter device image link">
                </div>
                <div class="form-group">
                    <label for="price">Device price</label>
                    <input type="number"
                           class="form-control"
                           id="price"
                           name="price"
                           th:value="(${device} != null ? ${device.getPrice()} : '')"
                           required placeholder="Enter device price">
                </div>
                <div class="form-group">
                    <label for="stock">Device stock</label>
                    <input type="number"
                           class="form-control"
                           id="stock"
                           name="stock"
                           th:value="(${device} != null ? ${device.getStock()} : '')"
                           required placeholder="Enter device stock">
                </div>
                <div class="form-group">
                    <label for="description">Device description</label>
                    <input type="text"
                           class="form-control"
                           id="description"
                           name="description"
                           th:value="(${device} != null ? ${device.getDescription()} : '')"
                           required placeholder="Enter device description">
                </div>
                <div class="form-group">
                    <label>Category</label>
                    <select id="category" name="category" class="form-control">
                        <option th:if="${device} != null"
                                th:selected="${device.getCategory() != null
                    && device.getCategory().getId() == category.getId()}"
                                th:each="category : ${categories}"
                                th:text="${category.getName()}"
                                th:value="${category.getId()}">
                        </option>
                        <option th:if="${device} == null"
                                th:each="category : ${categories}"
                                th:text="${category.getName()}"
                                th:value="${category.getId()}">
                        </option>
                    </select>

                </div>
                <div class="form-group">
                    <label>Manufacturer</label>
                    <select id="manufacturer" name="manufacturer" class="form-control">
                        <option th:if="${device} != null"
                                th:selected="${device.getManufacturer() != null
                    && device.getManufacturer().getId() == manufacturer.getId()}"
                                th:each="manufacturer : ${manufacturers}"
                                th:text="${manufacturer.getName()}"
                                th:value="${manufacturer.getId()}">
                        </option>
                        <option th:if="${device} == null"
                                th:each="manufacturer : ${manufacturers}"
                                th:text="${manufacturer.getName()}"
                                th:value="${manufacturer.getId()}">
                        </option>
                    </select>

                </div>
                <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                <a type="button" class="btn btn-primary" href="/devices">Back</a>
            </form>
        </div>
    </div>
</div>
</body>
</html>
