<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>ProjectWeb</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>

   <body class="main-layout position_head">

      <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#" /></div>
      </div>

      <header th:replace="fragments/header"/>

      <!--<div style="float: left;">
         REKLAMA
      </div> -->
      <div class="container widthContainer">
      <div class="glasses">
         <div class="container">
            <div class="row">
               <div class="col-md-10 offset-md-1">
                  <div class="titlepage">
                     <h2>Our Devices</h2>
                     <p>Find all the best and newest trending devices on our devices page.</p>
                     <hr>
                     <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                     <a th:href="@{'/devices/add-device'}" type="button" class="btn btn-success">
                        Add Device
                     </a>
                     </th:block>
                     <hr>
                     <form th:action="@{'/devices'}"
                           th:method="GET">
                        <div class="form-group">
                           <label>Category</label>
                           <select id="category" name="category" class="form-control">
                              <option th:value="null" selected>None selected</option>
                              <option
                                      th:each="category : ${categories}"
                                      th:text="${category.getName()}"
                                      th:value="${category.getId()}">
                              </option>
                           </select>
                        </div>
                        <div class="form-group">
                           <label for="priceFilter">Find devices with price LESS than the one you entered</label>
                           <input name="priceFilter" id="priceFilter" placeholder="Enter price" type="number">
                        </div>
                        <button type="submit"
                                class="btn btn-primary" style="float: bottom">
                          Filter Devices
                        </button>
                     </form>
                  </div>
               </div>
            </div>
         </div>
         <div class="container-fluid" >
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6" th:each="device : ${devices}">
                  <div class="glasses_box">
                     <figure><img th:src="${device.getImage()}" style="height: 260px; width: 380px; padding: 10px" alt="#"/></figure>
                     <h3 th:text="${device.getPrice() + '$'}"></h3>
                     <p th:text="${device.getName()}"></p>
                     <hr>
                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                     <div sec:authorize="isAuthenticated()">
                        <form th:action="@{'/devices/delete/{id}' (id=${device.getSerialNumberId()})}"
                              th:method="DELETE" style="float: left; margin: 3px">
                           <button type="submit"
                                   class="btn btn-sm btn-danger">
                              <i class="fa fa-trash">Delete</i>
                           </button>
                        </form>
                      <!--sec:authorize="hasRole('ROLE_ADMIN')"-->
                        <a th:href="@{'/devices/edit-form/{id}' (id=${device.getSerialNumberId()})}"
                           class="btn btn-sm btn-info" style="float: right; margin: 3px">
                           <i class="fa fa-trash">Edit</i>
                        </a>
                     </div>
                    </th:block>

                     <form th:action="@{'/shopping-cart/add-device/{id}' (id=${device.getSerialNumberId()})}"
                           th:method="POST">
                        <button type="submit" sec:authorize="isAuthenticated()"
                                class="btn btn-sm btn-primary">
                           <i class="fa fa-trash">Add product to cart</i>
                        </button>
                     </form>


                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>

      <footer th:replace="fragments/footer"/>

      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
   </body>
</html>

